

{% load staticfiles %}
<!DOCTYPE html>
<htm lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>Mis Perris</title>
	<!-- CSS -->
    	<link rel="stylesheet" href="{% static 'css/style.css' %}"
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Javascript -->
	<script src= "{% static 'js/validarRUT.js' %}"></script>
	<script src= "{% static 'js/soloLetras.js' %}"></script>
    <script src= "{% static 'js/soloNumeros.js' %}"></script>
</head>
<body>
<div class="container-fluid">

	<header>
	{% block header %} 	
   	<div id="container-fluid">
		<div class="header-nav">
			<nav>
				<div class="col-xs-12" id="logo">
					<a href="#">
						<img src="{% static "img/logo.png" %}" alt="">
					</a>
				</div>
				<ul>
					<li><a class="principal" href="{% url 'mascota:index' %}">Inicio</a></li>
					<li><a class= "principal" href="#">Quienes Somos</a></li>
					<li><a class ="principal" href="#">Servicios</a></li>
					<li><a class="principal" href="#">Contactenos</a></li>
					<li> <a id="principal" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas <span class="caret"></span></a> 
						 				<ul class="dropdown-menu" role="menu"> 
						 					<li><a href="{% url 'mascota:mascota_crear' %}">Ingresar</a></li> 
						 					<li><a href="{% url 'mascota:mascota_listar' %}">Listar</a></li> 
						 				</ul> 
						 			</li> 
						 			<li > <a id="principal" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adopciones<span class="caret"></span></a> 
						 				<ul class="dropdown-menu" role="menu"> 
						 					<li><a href="{% url 'adopcion:solicitud_crear' %}">Solicitar</a></li> 
						 					<li><a href="{% url 'adopcion:solicitud_listar' %}">Listar solicitudes</a></li> 
						 				</ul> 
						 			</li> 
				</ul>
			</nav>
		</div>
		
	</div>
	{% endblock %}
	</header>
</div>
{% block content %}
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<h1>¿Desea eliminar el registro de {{ object.persona.nombre }} {{ object.persona.apellidos }}?</h1>
	<button class="btm btn-danger" type="submit" >Si, eliminar</button>
	<a class="btn btn-default" href="{% url 'mascota:mascota_listar' %}">Cancelar</a>
</form>

{% endblock %}

	{% block footer %}
	{% endblock %}	
</div>
	
	{% block extrajs %}
	{% endblock %}
</body>
</html>




